/* add your CSS here */
/* Adding color, shadow, border, spacing to whole card */
.card{
	width: 300px;
	border: 1px solid #A9A9A9;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 5px 5px #DCDCDC;
}


/* Changing image size */
.animal_image{
	width: 300px;
	margin-top: 10px;
}

/* Adding border and spaces around Animal Information section */
.information{
	border: 1px solid #A9A9A9;
	padding: 10px;
	margin-top: 10px;
}


/* Making Fact test italic */
.interesting_fact{
	font-style: italic;
}


/* Making list names bold */
.animal_feature{
	font-weight: bold;
}

/* Removing bullet dot from list items */
.animal_features_list{
	list-style-type: none;
	padding-left: 0px;
}

